<!DOCTYPE html>
<html>
<head>
	<title>Demo Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

	<nav class="navbar fixed-top navbar-dark bg-dark">
		<a class="navbar-brand" href="#">FaceMatch</a>
			<form class="form-inline">
				<a href="index.html">
				<button class="btn btn-sm btn-outline-secondary" type="button">Home</button>
				</a>
				&nbsp;
				&nbsp;
				<a href="userstudy.html">
				<button class="btn btn-sm btn-outline-secondary" type="button">User Study</button>
				</a>
				&nbsp;
				&nbsp;
				<a href="demo.html">
				<button class="btn btn-sm btn-outline-secondary" type="button">Final Demo</button>
				</a>
			</form>
	</nav>

	<div class="container">
		<br>
		<br>
		<br>
		<div class="row justify-content-md-center">
			<h1 class="display-3">Demo</h1>
		</div>
		<div class="row">
			<p>This is the demo portion of our prototype. To begin, please select a file of your choosing with a recognizable human face.</p>
		</div>
		<div class = "row">
			<form enctype="multipart/form-data" method="post">
				<input type="file" name="file" accept="image/*">
				<input type="submit" value="Upload">
			</form>
		</div>
		<br>
		<br>
		<div class="row">
			<p>To see the results of the algorithm, please click <a href="results-final.html">here</a>.</p>
		</div>
		<br>
		<br>
		<br>
		<div class="row">
			<p><a href="index.html">Return to Home Page</a></p>
		</div>
	</div>
	</div>
	

</body>
</html>